<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.question}}" placeholder="Enter Question" name="question">
      <label for="floatingInput">Question</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.option1}}" placeholder="Option 1" name="option1">
      <label for="floatingInput">Option 1</label>
    </div>
  </div>
 <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.option2}}" placeholder="Option 2" name="option2">
      <label for="floatingInput">Option 2</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.option3}}" placeholder="Option 3" name="option3">
      <label for="floatingInput">Option 3</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.option4}}" placeholder="Option 4" name="option4">
      <label for="floatingInput">Option 4</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.correct_answer}}" placeholder="correct_option" name="correct_answer">
      <label for="floatingInput">correct_option</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-dark" type="submit">Submit</button>
  </div>